
@media screen and (min-width : 760px){
  .above-fold{
    justify-content: flex-start;
    align-content:flex-start;
  }
  .computer-header{
    padding-top:2%;
    padding-left:10%;
    width:400%;
  }
  .usecase-mobile{
      display:none;
  }
  .joincommunity-button{
    margin-left: 5%;
    margin-top:1% 
  }
  .gettingstarted-button{

  }
  .headline{
    margin-top:5%;
    margin-bottom:25%; 
    display:flex;
    flex-direction:column;
    width:42%;
  }
  .tagline{
    width:90%;
  }
  .bestfor{
    padding-bottom:30%;
  }
  .explainer{
    margin-bottom:7%;
  }
  .demo{
    margin-bottom:15%;
  }
}

  @media screen and (max-width : 760px){
    .above-fold{
      justify-content: flex-start;
      align-content:flex-start;
      flex-direction: column;
      margin-bottom:150%;
    }
    .usecase-desktop{
        display:none;
    }
    .headline{
      width:100%;
      margin-bottom:40%; 
      display:block;
    }
    .headerbuttons{
      flex-direction:row;
      flex-flow:column wrap;
      align-items: baseline !important;
      vertical-align: top;
    }
    .computer-header{
      margin-top:-25%;
      width:110%;
    }
    .gettingstarted-button{
      width:100% !important;
      float:left;
    }
    .joincommunity-button{
      text-align: center;
      width:100% !important;
      float:left;
      margin-left:0;
      margin-top:3%;
    }
    .bestfor{
      margin-bottom:0%;
    }
    .explainer{
      margin-bottom:40%;
    }
    .viable{
      margin-bottom:40%;
    }
    .demo{
      margin-bottom:18%;
    }
    .landing-cta{
      position:relative;
    }
  }

  

.gettingstarted-button{
  border:none;
  color:#fff;
  background-color:inherit;
  /* border:1px solid #fca311; */
  border-radius:4px;
  box-shadow:inset 0 0 0 1px #FCA311;
  font-weight:lighter;
  font-family: 'proxima-nova',sans-serif;
  padding:2% 4% 2% 4%;
  width:22%;
  text-align: center;
}
.gettingstarted-button:hover{
  box-shadow: inset 0 0 0 1px #FCA311, 1px 1px 1px #ADB5C1;
  
}
.joincommunity-button{
   border:none;
   background-image:linear-gradient(to right, #fca311 , #FCD116);
   border-radius:4px;
   box-shadow:inset 0 0 0 0px #FCA311;
   color:#fff;
   font-weight:lighter;
    padding: 2% 4% 2% 4%;
    width:40%;
    text-align:"center";
}
.joincommunity-button:hover{
  /* box-shadow: none; */
  box-shadow: 1px 1px 1px #ADB5C1;
}

.signupnow-button{
  margin-left: 1%;
  background-image:linear-gradient(to right, #fca311 , #FCD116);
  border-radius:4px;
  color:#002868;
  font-weight:lighter;
 padding: 1% 4% 1% 4%;
}

.signupnow-button:hover{
  /* box-shadow: none; */
  color:#fff;
  box-shadow: 1px 1px 1px #ADB5C1;
}
