@media screen and (max-width : 760px){
    .explainer{
        flex-direction: column;
    }
    .explainer1{
        margin-top: 6%;
    }
    .explainer2{
        margin-bottom:8%;
    }
    .layer{
        float:left;
    }
    .payments{
        float:left;
    }
}

@media screen and (min-width : 760px){
    .explainer{
        flex-direction:row;
        flex-wrap:wrap;
        margin-top:6%;
    }
    .explainer1{
        margin-left:5%;
        padding-top:10%;
        width:40%;
        font-size: large;
        padding-bottom:10%;
    }
    .explainer2{
        margin-top:0%;
        margin-left:0%;
        width:40%;
        font-size: large;
        padding-bottom:10%;
    }
    .layer{
        margin-left:3%;
        padding-left:10%;
        margin-top:10%;
    }
    .payments{
        padding-left:0%;
        margin-top:-8%;
    }
}