@media screen and (max-width : 760px){
    .explainer{
        flex-direction: column;
    }
    .explainer1{
        margin-top: 6%;
        order:2
    }
    .explainer2{
        margin-bottom:8%;
        order:4
    }
    .layer{
        margin-bottom:12%;
        float:left;
        order:1;
    }
    .payments{
        margin-bottom:12%;
        float:left;
        order:3;
    }
}

@media screen and (min-width : 760px){
    .explainer{
        flex-direction:row;
        flex-wrap:wrap;
        margin-top:6%;
    }
    .explainer1{
        padding-left:10%;
        padding-top:10%;
        width:40%;
        font-size: large;
        padding-bottom:10%;
        order:2;
    }
    .explainer2{
        margin-top:0%;
        width:40%;
        font-size: large;
        padding-left:10%;
        padding-bottom:10%;
        order:3;
    }
    .layer{
        margin-top:0%;
        order:1
    }
    .payments{
        margin-top:-4%;
        margin-left:10%;
        order:4;
    }
}