@media screen and (max-width : 760px){
    .explainer{
        flex-direction: column;
    }
    .explainer1{
        margin-top: 6%;
        order:2
    }
    .explainer2{
        margin-bottom:8%;
        order:4
    }
    .layer{
        margin-bottom:12%;
        float:left;
        order:1;
    }
    .payments{
        margin-bottom:12%;
        float:left;
        order:3;
    }
    .projects{
        padding-top:20px;
        display:block;
    }
    .projects>a{
        padding-right: 15px;
        padding-bottom:10px
    }

}

@media screen and (min-width : 760px){
    .explainer{
        flex-direction:row;
        flex-wrap:wrap;
        margin-top:6%;        
        font-size: large;
    }
    .explainer1{
        padding-left:10%;
        width:42%;
        order:2;
    }
    .explainer2{
        margin-top:0%;
        width:42%;
        order:3;
        padding:1% 1% 1% 10%;
        border-radius:10px;
        background-color:rgba(255, 255, 255, 0.6)
    }
    .layer{
        margin-top:0%;
        order:1
    }
    .payments{
        margin-top:-4%;
        margin-left:0%;
        order:4;
    }
    .projects{
        padding-top:20px;
        display:block;
    }
    .projects>a{
        padding-right: 10px;
    }
}