@media screen and (max-width : 760px){

    .viable-block-pic{
        position:relative;
        width:320px;
        margin-left:-20%;
    }
    .viable-header{
        margin-left:-8%;
        margin-bottom:5%;
        width:120%;
        font-size:30px;
    }
    .code-block{
        width:110%
    }
    .divider{
        display:none;
    }
}
@media screen and (min-width : 760px){
    
    .viable-header{
        margin-bottom:3%;
    }

    .code-block{
        width:50%
    }
  
    .viable-block-pic{
        position:absolute;
        width:25%;
        left:0;
        margin-top:-2%;
    }
    .developer{
        width:130%;
    }
    .divider-v{
        margin:0 2% 0 2%;
        border-right:1px solid black;
        border-image: linear-gradient(to bottom,rgba(25.9,27.8,30.2,0) 22%, rgba(25.9,27.8,30.2,1) 22%,rgba(25.9,27.8,30.2,1) 90%,rgba(25.9,27.8,30.2,0) 90%);
        border-image-slice: 1;
    }
    /* .viable-block:before {
        content: '';
        position: relative;
        height: 200%;
        border-left: 1px solid black;
    } */
    
}