@media screen and (max-width : 760px){
    .viable-text{
        flex-direction: column;
        left:0;
    }
    .viable-block{
        width:100%;
    }
    .viable-block{
        width:100%;
    }
    .viable-block-pic{
        position:relative;
        width:320px;
        margin-left:-15%;
    }
    .viable-header{
        margin-left:-8%;
        margin-bottom:-30%;
        width:120%;
        font-size:30px;
    }
    .divider{
        display:none;
    }
}
@media screen and (min-width : 760px){
    .viable-text{
        flex-direction:row;
        left:0;
        margin-left:-10%;
        /* background-color:rgba(25.9,27.8,30.2,0.1);
        border-radius:10px; */
        height:360px;
        margin-bottom:10%;
    }
    .viable-header{
        margin-bottom:3%;
    }
    .viable-block{
        width:27%;
        padding-top:5% !important;
        padding:0% 2% 0% 2%;
    }
    .viable-block-1{
        width:27%;
        padding-top:5% !important;
        padding-left:1%;
    }
    .viable-block-pic{
        width:30%;
        margin-left:-4%;
    }
    .developer{
        width:130%;
    }
    .divider-v{
        margin:0 2% 0 2%;
        border-right:1px solid black;
        border-image: linear-gradient(to bottom,rgba(25.9,27.8,30.2,0) 15%, rgba(25.9,27.8,30.2,1) 15%,rgba(25.9,27.8,30.2,1) 75%,rgba(25.9,27.8,30.2,0) 75%);
        border-image-slice: 1;
    }
    /* .viable-block:before {
        content: '';
        position: relative;
        height: 200%;
        border-left: 1px solid black;
    } */
    
}